.quarto-title-block .quarto-title-banner {
  background-image: url('assets/catie_logo_large.png');
  background-size: 250px;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 20px;
  background-origin: content-box;
}
